/* MyProfile.css */
.profile-container {
    margin: 2rem auto;
    max-width: 900px;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .profile-card {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-image {
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-img {
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #242424;
  }
  
  .message {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-top: 2rem;
  }
  
  .loading {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    margin-top: 2rem;
  }
  strong{
    font-weight: bolder;
    color: black;
  }